@import '../../variables.scss';

.nb-dash-section {
    margin: 40px 10%;

    .titleSection {
        text-align: left;
        align-items: baseline;
        display: inline-flex;
        align-items: center; 
        vertical-align: baseline;

        .title {
            font-size: 30pt;
            font-weight: 600;
            margin-right: $margin-horizontal;
        }
    }

    .container {
        height: 200px;
        display: flex;
        align-items: center;

        &-empty {
            text-align: center;
        }

        .emptyMessage {
            font-weight: bold;
            text-align: center;
            width: 100%;
        }
    }

    .sm {
        height: 100px;;
    }
}