@mixin withShadow($size, $color) {
    box-shadow: $size $size 16px 0px $color;
    margin: 21px 0;
}

@mixin withBorder($radiusMap, $width, $color) {
    border-radius: map-get($border-radius, $radiusMap);
    border-style: solid;
    border-width: $width;
    border-color: $color;
}

@mixin clickableBase($borderRadius) {
    border: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: map-get($borderRadius,'normal');
}

@mixin buttonEvents($color) {
    cursor: pointer;
    
    @if map-has-key($color, 'baseStart') == true {
        background-image: __makeGradient(map-get($color, 'baseStart'), map-get($color, 'baseEnd'));
        transition: 0.5s;
        background-size: 200% auto;

        &:hover {
            background-image: __makeGradient(map-get($color, 'hoverStart'), map-get($color, 'hoverEnd'));
            background-position: right center;
        }
    
        &:active {
            background-image: __makeGradient(map-get($color, 'activeStart'), map-get($color, 'activeEnd'));
        }

    } @else {
        background-color: map-get($color, 'base');

        &:hover {
            background-color: map-get($color, 'hover');
        }
    
        &:active {
            background-color: map-get($color, 'focus');
        }
    }
};

@function hoverColor($color, $isDark) {
    $hoverChange: 12%;
    @return __filterColor($color, $isDark, $hoverChange)
};

@function focusColor($color, $isDark) {
    $focusChange: 24%;
    @return __filterColor($color, $isDark, $focusChange)
};

@function __filterColor($color, $isDark, $filterPercentage) {
    @if ($isDark == true) {
        @return lighten($color, $filterPercentage);
    } @else {
        @return darken($color, $filterPercentage);
    }
};

@function __makeGradient($colorStart, $colorEnd) {
    @return linear-gradient(143deg, $colorStart 0%, $colorEnd 51%, $colorStart 100%);
};