@import './theme.scss';

$primary-color: (
    'base': $primary-color-internal,
    'hover': var(--primary-color-hover),
    'focus': var(--primary-color-focus),
);
$secondary-color: (
    'base': $secondary-color-internal,
    'hover': var(--secondary-color-hover),
    'focus': var(--secondary-color-focus),
);

$accent-color: (
    'base': var(--accent-color),
    'hover': var(--accent-color-hover),
    'focus': var(--accent-color-focus),
);

$background-theme: var(--background-theme);

$font-color: var(--font-color);

$isDark: var(--isDark);