$noir-size: 23pt;
$bank-size: 24pt;

.logo {
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: bold;

    .noir {
        font-family: 'Abril Fatface';
        font-size: $noir-size;

        &.md {
            font-size: $noir-size * 1.4;
        }
    }

    .bank {
        font-size: $bank-size;

        &.md {
            font-size: $bank-size * 1.4;
        }
    }
}