.logo {
    display: flex;
    align-items: center;
    user-select: none;

    .noir {
        font-family: 'Abril Fatface';
        font-size: 23pt;
    }

    .bank {
        font-size: 24pt;
    }
}