.action-buttons {
    display: inline-flex;
    gap: 5px;

    &.left {
        align-self: baseline;
    }

    &.center {
        align-self: center;
    }

    &.right {
        align-self: flex-end;
    }
}