@import '../../../variables.scss';
@import '../../../functions.scss';

.nb-button {
    @include clickableBase($border-radius);

    .nb-ico {
        margin-right: $margin-horizontal;
    }
}

// styles
.main {
    padding: 14px 20px;
    font-size: 14pt;
}

.mod {
    padding: 8px 16px;
    font-size: 13pt;
}

.general {
    padding: 7px 20px;
}

// color schemes
.primary {
    @include buttonEvents($primary-color);
    color: white;
}

.accent {
    @include buttonEvents($accent-color);
    color: $font-color;
    border-radius: map-get($border-radius,'rounded');
}

.accent-inverted {
    @include buttonEvents($accent-color-inverted);
    color: map-get($accent-color, 'base');
    border-radius: map-get($border-radius,'rounded');
}