@import url("//fonts.googleapis.com/css?family=Abril+Fatface");

.nb-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 $margin-horizontal;

    .account-nav {
        display: flex;
        align-items: center;
        align-content: center;
    }
}

.nb-nav span {
    font-weight: bold;
}