@import '../../../../../../variables.scss';

.accounts-container {
    height: 100%;
    width: 100%;

    .swiper-slide {
      width: map-get($account-quickview, 'width');
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      color: $font-color;
    }
}